# this is live.config. Last line should just be "%config;" and the contents
# will be passed back to calling program

my $rabins_hold_value = 10;
my $rabins_interval = '10s';


%config = (
server_alias            => "Turkey",
explanation             => "Process to provide 'top users' data to such clients as glotop and gloriad-earth",
port_number             => 12602,
rabins_command          => "/usr/local/bin/rabins -S localhost -M rmon time $rabins_interval -B $rabins_hold_value -f ./racluster.conf -F ./rarc - ip and bytes gt 2000 and not icmp and not \\( udp and port 53 \\) | ",
sqlite_connection       => "DBI:SQLite:dbname=turkey.db",
sqlite_autocommit       => 0,           # always use transactions
sqlite_synchronous      => 0,           # don't worry about synchronous  (should be faster)
sqlite_cache_size       => 200000,     # 200,000 1,000 byte pages (200M cache)

cleaning_delay         => 180,          # how often in seconds to do trimming or other cleaning functions

);

%config;

