# this is live.config. Last line should just be "%config;" and the contents
# will be passed back to calling program

my $mysql_host = 'ncollector.gloriad.org';


%config = (
server_alias            => "Barn",
explanation             => "Process to keep feed.db updated from mysql repository",

sqlite_connection       => "DBI:SQLite:dbname=feed.db",
sqlite_autocommit       => 0,           # always use transactions
sqlite_synchronous      => 0,           # don't worry about synchronous  (should be faster)
sqlite_cache_size       => 20000,       # 20,000 1,000 byte pages (20M cache)

mysql_connection        => "DBI:mysql:pflow:$mysql_host",
mysql_user              => '*****',
mysql_pwd               => '**********',

update_delay            => 60,          # how often in seconds to update ips and domains databases

);

%config;
