# this is live.config. Last line should just be "%config;" and the contents
# will be passed back to calling program

my $rabins_hold_value = 5;
my $rabins_interval = '5s';


%config = (
server_alias            => "Sheep",
explanation             => "Process to process argus srcid information on total traffic load",
port_number             => 12601,
rabins_command          => "/usr/local/bin/rabins -S localhost -B $rabins_hold_value -M rmon -M time $rabins_interval -F ./rarc -m srcid - ip and not icmp and not \\(udp and port 53 \\) and bytes gt 10000 | ",
sqlite_connection       => "DBI:SQLite:dbname=sheep.db",
sqlite_autocommit       => 0,           # always use transactions
sqlite_synchronous      => 0,           # don't worry about synchronous  (should be faster)
sqlite_cache_size       => 200000,     # 200,000 1,000 byte pages (200M cache)

datetime_trim          => '-3 hour',    # delete argus_sources records older than max(stime) - this value
cleaning_delay         => 180,          # how often in seconds to do trimming or other cleaning functions
datetime_memory        => '-1 hour',    # keep this many hours of latest records in mem.argus_sources

);

%config;
